<section class="signup-body">
  <div class="signup-card">
    <a routerLink=".."><img src="../../../assets/Negative.png" alt="NXTDROP, Inc. Logo Negative Symbol"></a>

    <!--<button class="facebook-btn" (click)="auth.facebookSignIn()">
      <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
      <h3>Sign in with Facebook</h3>
    </button>-->

    <button class="google-btn" (click)="googleSignUp()">
      <fa-icon [icon]="faGoogle"></fa-icon>
      <h3>Sign Up with Google</h3>
    </button>

    <div class="divider">
      <h2>OR</h2>
    </div>

    <form [formGroup]="signupForm" (ngSubmit)="signup()">
      <input type="text" placeholder="First Name" formControlName="first_name" [className]="first_name.invalid && first_name.dirty ? 'input-error' : ''">
      <input type="text" placeholder="Last Name" formControlName="last_name" [className]="last_name.invalid && last_name.dirty ? 'input-error' : ''">
      <input type="text" placeholder="Username" formControlName="username" [className]="username.invalid && username.dirty ? 'input-error' : ''" [patterns]="customPatterns" mask="0*">
      <input type="email" placeholder="Email" formControlName="email" [className]="email.invalid && email.dirty ? 'input-error' : ''">
      <input type="password" placeholder="Password" formControlName="password" [className]="password.invalid && password.dirty ? 'input-error' : ''">

      <button type="submit" class="btn signup-btn" *ngIf="!loading && !error">Sign Up</button>

      <button type="submit" class="btn loading" *ngIf="loading">
        <fa-icon [icon]="faCircleNotch" [spin]="true"></fa-icon>
      </button>

      <button type="submit" class="btn error" *ngIf="error">Error</button>
    </form>

    <p>By signing up, you agree to our <a routerLink="/terms">Terms</a> and <a href="/privacy">Privacy Policy</a>.</p>

    <button (click)="loginRedirect()" class="login-btn">Have an account? Log in</button>
  </div>
</section>

<app-newsletter></app-newsletter>

<app-footer></app-footer>