<section class="container">
    <div class="description">
        <img src="https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2F20210204%20ParaNoise.png?alt=media&token=0853bcb3-7e09-45b3-a180-4f3f93ab3414" alt="Sneak Peek presented by NXTDROP">

        <p>K-Pop star G-Dragon's fashion label, PEACEMINUSONE, and Nike teamed once again in 2020 to release an
            exclusive pair of Air Force 1. G-Dragon, best-known for his musical career as a member of Big Bang, ventured
            into fashion and founded PEACEMINUSONE in 2016, and their products have been selling out at the speed of
            light.</p>
    </div>

    <div class="video">
        <iframe src="https://www.youtube.com/embed/PVK9uBtNm-0" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
</section>