@import "../../base_styles/base";

.modal {
  transition: top 1s, height 1s !important;
  -moz-transition: top 1s, height 1s !important;
  -webkit-transition: top 1s, height 1s !important;
  -moz-transition: top 1s, height 1s !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: 10000;
  overflow: hidden;
  background: rgba(56, 54, 55, 0.5);
  display: grid;

  .modal-card {
    display: grid;
    background: $white;
    align-self: center;
    justify-self: center;
    border-radius: $spacing-xsmall;
    color: $matteblack;

    /*img {
      object-fit: cover;
      border-top-left-radius: $spacing-small;
      border-bottom-left-radius: $spacing-small;
    }*/

    div {
      input {
        width: 80%;
        padding: $spacing-small;
        border: 1px solid $lightgrey;
        border-radius: $spacing-xsmall;
        display: block;
        margin: 0 auto;
        font-size: 1;
      }

      #top {
        display: grid;

        fa-icon {
          justify-self: end;
          cursor: pointer;
        }
      }

      h3,
      h6 {
        color: #fff;
        text-align: center;
      }

      .dark-btn {
        background: $white;
        color: $matteblack;

        &:hover {
          background: $lightgrey !important;
        }
      }

      button {
        background: $green;
        border: none;
        text-transform: uppercase;
        display: block;
        border-radius: 2rem;
      }

      .subscribed {
        background: $green;
        cursor: not-allowed;

        &:hover {
          background: $green !important;
        }
      }
    }
  }

  .exp001-card {
    display: grid;
    align-self: center;
    justify-self: center;
    border-radius: 0.4rem;
    color: $white;

    .card-top {
      display: grid;

      .close-icon {
        justify-self: end;
        background: $matteblack;
        display: grid;

        fa-icon {
          cursor: pointer;
          align-self: center;
          justify-self: center;
        }
      }
    }

    .card-body {
      display: grid;

      .content {
        text-align: center;

        h2,
        h6 {
          color: $white;
        }

        input {
          width: 80%;
          padding: 0.8rem;
          border: 1px solid $lightgrey;
          border-radius: 4px;
          display: block;
          margin: 0 auto;
        }

        .error {
          background: $white;
          cursor: not-allowed;
          color: $black;

          &:hover {
            background: $white !important;
          }
        }

        button {
          background: $googleRed;
          color: $white;
          letter-spacing: 1px;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }

  .discount-background {
    background: rgb(34, 32, 33);
    background: -moz-linear-gradient(
      345deg,
      rgba(34, 32, 33, 1) 0%,
      rgba(6, 169, 77, 1) 87%,
      rgba(204, 255, 0, 1) 100%
    );
    background: -webkit-linear-gradient(
      345deg,
      rgba(34, 32, 33, 1) 0%,
      rgba(6, 169, 77, 1) 87%,
      rgba(204, 255, 0, 1) 100%
    );
    background: linear-gradient(345deg, rgba(34, 32, 33, 1) 0%, rgba(6, 169, 77, 1) 87%, rgba(204, 255, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#222021",endColorstr="#ccff00",GradientType=1);

    fa-icon {
      color: #fff;
    }
  }
}

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 399.9px) {
  .exp001-card {
    width: 90%;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2F20210108-Capture-Email-filter.gif?alt=media&token=a60e59b3-f496-4605-a115-12112d273c8b");
    background-position: center;
    background-size: contain;
    background-color: $black;

    .card-top {
      padding: 0.5rem;

      .close-icon {
        padding: 0.1rem;
        height: 25px;
        width: 25px;

        fa-icon {
          font-size: 1.4rem;
        }
      }
    }

    .card-body {
      grid-template-columns: 1fr;

      .image {
        display: none;
      }

      .content {
        display: grid;

        h2,
        h6,
        button {
          margin: 2rem auto;
        }

        h2 {
          font-size: 1.4rem;
          width: 90%;
        }

        h6 {
          font-size: 0.7rem;
          width: 70%;
        }

        input {
          font-size: 0.8rem;
        }

        button {
          padding: 1.2rem 0.8rem;
          width: 80%;
          font-size: 0.8rem;
        }
      }
    }
  }

  .modal-card {
    width: 90%;

    div {
      grid-template-rows: 1fr 1fr 2fr 4fr 2fr;

      #top {
        margin: 0.8rem;
        height: 20px;
        margin-bottom: 25px;
      }

      input {
        font-size: 0.6rem;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 100px;
      }

      h3 {
        font-size: 1rem;
        margin: 0.5rem;
      }

      h6 {
        font-size: 0.6rem;
        margin: 1rem auto;
      }

      button {
        width: 70%;
        margin: 1.5rem auto;
        font-size: 0.7rem !important;
        padding: 1rem 0.4rem;
      }
    }
  }
}

@media only screen and (min-width: 400px) and (max-width: 599.9px) {
  .exp001-card {
    width: 80%;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2F20210108-Capture-Email-filter.gif?alt=media&token=a60e59b3-f496-4605-a115-12112d273c8b");
    background-position: center;
    background-size: contain;
    background-color: $black;

    .card-top {
      padding: 0.5rem;

      .close-icon {
        padding: 0.1rem;
        height: 25px;
        width: 25px;

        fa-icon {
          font-size: 1.4rem;
        }
      }
    }

    .card-body {
      grid-template-columns: 1fr;

      .image {
        display: none;
      }

      .content {
        display: grid;

        h2,
        h6,
        button {
          margin: 2rem auto;
        }

        h2 {
          font-size: 1.5rem;
          width: 80%;
        }

        h6 {
          font-size: 0.7rem;
          width: 70%;
        }

        input {
          font-size: 0.8rem;
        }

        button {
          padding: 1.2rem 0.8rem;
          width: 80%;
          font-size: 0.8rem;
        }
      }
    }
  }

  .modal-card {
    width: 70%;

    div {
      grid-template-rows: 1fr 1fr 2fr 4fr 2fr;

      #top {
        margin: 0.8rem;
        height: 20px;
        margin-bottom: 25px;
      }

      input {
        font-size: 0.6rem;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 100px;
      }

      h3 {
        font-size: 1rem;
        margin: 0.5rem;
      }

      h6 {
        font-size: 0.6rem;
        margin: 1rem auto;
      }

      button {
        width: 70%;
        margin: 1.5rem auto;
        font-size: 0.7rem !important;
        padding: 1rem 0.4rem;
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 799.9px) {
  .exp001-card {
    width: 65%;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2F20210108-Capture-Email-filter.gif?alt=media&token=a60e59b3-f496-4605-a115-12112d273c8b");
    background-position: center;
    background-size: contain;
    background-color: $black;

    .card-top {
      padding: 0.5rem;

      .close-icon {
        padding: 0.1rem;
        height: 25px;
        width: 25px;

        fa-icon {
          font-size: 1.4rem;
        }
      }
    }

    .card-body {
      grid-template-columns: 1fr;

      .image {
        display: none;
      }

      .content {
        display: grid;

        h2,
        h6,
        button {
          margin: 2rem auto;
        }

        h2 {
          font-size: 1.6rem;
          width: 85%;
        }

        h6 {
          font-size: 0.7rem;
        }

        input {
          font-size: 0.8rem;
        }

        button {
          padding: 1.2rem 0.8rem;
          width: 80%;
          font-size: 0.85rem;
        }
      }
    }
  }

  .modal-card {
    width: 50%;

    div {
      grid-template-rows: 1fr 1fr 2fr 4fr 2fr;

      #top {
        margin: 0.8rem;
        height: 20px;
        margin-bottom: 25px;
      }

      input {
        font-size: 0.6rem;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 150px;
      }

      h3 {
        font-size: 1.25rem;
        margin: 0.5rem;
      }

      h6 {
        font-size: 0.8rem;
        margin: 1rem auto;
      }

      button {
        width: 70%;
        margin: 1.5rem auto;
        font-size: 0.7rem !important;
        padding: 1rem 0.4rem;
      }
    }
  }
}

@media only screen and (min-width: 800px) and (max-width: 999.9px) {
  .exp001-card {
    width: 70%;
    background-color: $black;

    .card-top {
      padding: 0.5rem;

      .close-icon {
        padding: 0.1rem;
        height: 25px;
        width: 25px;

        fa-icon {
          font-size: 1.4rem;
        }
      }
    }

    .card-body {
      grid-template-columns: 45% 55%;

      .image {
        justify-self: center;
        align-self: center;
        width: 80%;
        height: 100%;
        background-image: url("https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2F20210108-Capture-Email-non-filter.gif?alt=media&token=5dea30a3-8af6-4824-8c30-1c08099137de");
        background-position: center;
        background-size: cover;
        background-color: $black;
      }

      .content {
        display: grid;

        h2,
        h6,
        button {
          margin: 2rem auto;
        }

        h2 {
          font-size: 1.7rem;
          width: 90%;
        }

        h6 {
          font-size: 0.7rem;
          width: 80%;
        }

        input {
          font-size: 0.8rem;
        }

        button {
          padding: 1.2rem 0.8rem;
          width: 80%;
          font-size: 0.85rem;
        }
      }
    }
  }

  .modal-card {
    width: 45%;

    div {
      grid-template-rows: 1fr 1fr 2fr 4fr 2fr;

      #top {
        margin: 0.8rem;
        height: 20px;
        margin-bottom: 25px;
      }

      input {
        font-size: 0.6rem;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 150px;
      }

      h3 {
        font-size: 1.25rem;
        margin: 0.5rem;
      }

      h6 {
        font-size: 0.8rem;
        margin: 1rem auto;
      }

      button {
        width: 70%;
        margin: 1.5rem auto;
        font-size: 0.7rem !important;
        padding: 1rem 0.4rem;
      }
    }
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1199.9px) {
  .exp001-card {
    width: 55%;
    background-color: $black;

    .card-top {
      padding: 0.5rem;

      .close-icon {
        padding: 0.1rem;
        height: 25px;
        width: 25px;

        fa-icon {
          font-size: 1.4rem;
        }
      }
    }

    .card-body {
      grid-template-columns: 45% 55%;

      .image {
        justify-self: center;
        align-self: center;
        width: 80%;
        height: 100%;
        background-image: url("https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2F20210108-Capture-Email-non-filter.gif?alt=media&token=5dea30a3-8af6-4824-8c30-1c08099137de");
        background-position: center;
        background-size: cover;
        background-color: $black;
      }

      .content {
        display: grid;

        h2,
        h6,
        button {
          margin: 2rem auto;
        }

        h2 {
          font-size: 1.7rem;
          width: 90%;
        }

        h6 {
          font-size: 0.7rem;
          width: 80%;
        }

        input {
          font-size: 0.8rem;
        }

        button {
          padding: 1.2rem 0.8rem;
          width: 80%;
          font-size: 0.8rem;
        }
      }
    }
  }

  .modal-card {
    width: 40%;

    div {
      grid-template-rows: 1fr 1fr 2fr 4fr 2fr;

      #top {
        margin: 0.8rem;
        height: 20px;
        margin-bottom: 25px;
      }

      input {
        font-size: 0.6rem;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 150px;
      }

      h3 {
        font-size: 1.25rem;
        margin: 0.5rem;
      }

      h6 {
        font-size: 0.8rem;
        margin: 1rem auto;
      }

      button {
        width: 70%;
        margin: 1.5rem auto;
        font-size: 0.7rem !important;
        padding: 1rem 0.4rem;

        &:hover {
          background: #a3cc00 !important;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1799.9px) {
  .exp001-card {
    width: 50%;
    background-color: $black;

    .card-top {
      padding: 0.5rem;

      .close-icon {
        padding: 0.1rem;
        height: 25px;
        width: 25px;

        fa-icon {
          font-size: 1.4rem;
        }
      }
    }

    .card-body {
      grid-template-columns: 45% 55%;

      .image {
        justify-self: center;
        align-self: center;
        width: 80%;
        height: 100%;
        background-image: url("https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2F20210108-Capture-Email-non-filter.gif?alt=media&token=5dea30a3-8af6-4824-8c30-1c08099137de");
        background-position: center;
        background-size: cover;
        background-color: $black;
      }

      .content {
        display: grid;

        h2,
        h6,
        button {
          margin: 2rem auto;
        }

        h2 {
          font-size: 1.7rem;
          width: 90%;
        }

        h6 {
          font-size: 0.7rem;
          width: 80%;
        }

        input {
          font-size: 0.8rem;
        }

        button {
          padding: 1.2rem 0.8rem;
          width: 80%;
          font-size: 0.8rem;

          &:hover {
            background-color: $white !important;
            color: $black !important;
          }
        }
      }
    }
  }

  .modal-card {
    width: 35%;

    div {
      grid-template-rows: 1fr 1fr 2fr 4fr 2fr;

      #top {
        margin: 0.8rem;
        height: 20px;
        margin-bottom: 25px;
      }

      input {
        font-size: 0.6rem;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 200px;
      }

      h3 {
        font-size: 1.5rem;
        margin: 0.5rem;
      }

      h6 {
        font-size: 1rem;
        margin: 1rem auto;
      }

      button {
        width: 60%;
        margin: 1.5rem auto;
        font-size: 0.8rem !important;
        padding: 1.2rem 0.5rem;

        &:hover {
          background: #a3cc00 !important;
        }
      }
    }
  }
}

@media only screen and (min-width: 1800px) and (max-width: 1999.9px) {
  .exp001-card {
    width: 35%;
    background-color: $black;

    .card-top {
      padding: 0.5rem;

      .close-icon {
        padding: 0.1rem;
        height: 25px;
        width: 25px;

        fa-icon {
          font-size: 1.4rem;
        }
      }
    }

    .card-body {
      grid-template-columns: 45% 55%;

      .image {
        justify-self: center;
        align-self: center;
        width: 80%;
        height: 100%;
        background-image: url("https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2F20210108-Capture-Email-non-filter.gif?alt=media&token=5dea30a3-8af6-4824-8c30-1c08099137de");
        background-position: center;
        background-size: cover;
        background-color: $black;
      }

      .content {
        display: grid;

        h2,
        h6,
        button {
          margin: 3rem auto;
        }

        h2 {
          font-size: 1.9rem;
          width: 90%;
        }

        h6 {
          font-size: 0.8rem;
          width: 80%;
        }

        input {
          font-size: 0.8rem;
        }

        button {
          padding: 1.2rem 0.8rem;
          width: 80%;
          font-size: 1rem;

          &:hover {
            background-color: $white !important;
            color: $black !important;
          }
        }
      }
    }
  }

  .modal-card {
    width: 25%;

    div {
      grid-template-rows: 1fr 1fr 2fr 4fr 2fr;

      #top {
        margin: 0.8rem;
        height: 20px;
        margin-bottom: 25px;
      }

      input {
        font-size: 0.6rem;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 200px;
      }

      h3 {
        font-size: 1.5rem;
        margin: 0.5rem;
      }

      h6 {
        font-size: 1rem;
        margin: 1rem auto;
      }

      button {
        width: 60%;
        margin: 1.5rem auto;
        font-size: 0.8rem !important;
        padding: 1.2rem 0.6rem;

        &:hover {
          background: #a3cc00 !important;
        }
      }
    }
  }
}

@media only screen and (min-width: 2000px) {
  .exp001-card {
    width: 35%;
    background-color: $black;

    .card-top {
      padding: 0.5rem;

      .close-icon {
        padding: 0.1rem;
        height: 25px;
        width: 25px;

        fa-icon {
          font-size: 1.4rem;
        }
      }
    }

    .card-body {
      grid-template-columns: 45% 55%;

      .image {
        justify-self: center;
        align-self: center;
        width: 80%;
        height: 100%;
        background-image: url("https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2F20210108-Capture-Email-non-filter.gif?alt=media&token=5dea30a3-8af6-4824-8c30-1c08099137de");
        background-position: center;
        background-size: cover;
        background-color: $black;
      }

      .content {
        display: grid;

        h2,
        h6,
        button {
          margin: 3rem auto;
        }

        h2 {
          font-size: 1.9rem;
          width: 90%;
        }

        h6 {
          font-size: 0.8rem;
          width: 80%;
        }

        input {
          font-size: 0.8rem;
        }

        button {
          padding: 1.2rem 0.8rem;
          width: 80%;
          font-size: 1rem;

          &:hover {
            background-color: $white !important;
            color: $black !important;
          }
        }
      }
    }
  }

  .modal-card {
    width: 30%;

    div {
      grid-template-rows: 1fr 1fr 2fr 4fr 2fr;

      #top {
        margin: 0.8rem;
        height: 20px;
        margin-bottom: 25px;
      }

      input {
        font-size: 0.6rem;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 300px;
      }

      h3 {
        font-size: 1.8rem;
        margin: 0.8rem;
      }

      h6 {
        font-size: 1.3rem;
        margin: 1.3rem auto;
      }

      button {
        width: 50%;
        margin: 1.8rem auto;
        font-size: 1.1rem !important;
        padding: 1.3rem 0.9rem;

        &:hover {
          background: #a3cc00 !important;
        }
      }
    }
  }
}

// MEDIA QUERIES LANDSCAPE
@media only screen and (min-width: 400px) and (max-width: 599.9px) and (orientation: landscape) {
  .exp001-card {
    width: 80%;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2F20210108-Capture-Email-filter.gif?alt=media&token=a60e59b3-f496-4605-a115-12112d273c8b");
    background-position: center;
    background-size: contain;
    background-color: $black;

    .card-top {
      padding: 0.5rem;

      .close-icon {
        padding: 0.1rem;
        height: 25px;
        width: 25px;

        fa-icon {
          font-size: 1.4rem;
        }
      }
    }

    .card-body {
      grid-template-columns: 1fr;

      .image {
        display: none;
      }

      .content {
        display: grid;

        h2,
        h6,
        button {
          margin: 1rem auto;
        }

        h2 {
          font-size: 1.4rem;
        }

        h6 {
          font-size: 0.7rem;
          width: 70%;
        }

        button {
          padding: 1.2rem 0.8rem;
          width: 80%;
          font-size: 0.8rem;
        }
      }
    }
  }

  .modal-card {
    width: 50%;

    div {
      grid-template-rows: 1fr 1fr 2fr 4fr 2fr;

      #top {
        margin: 0.8rem;
        height: 20px;
        margin-bottom: 25px;
      }

      input {
        font-size: 0.6rem;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 100px;
      }

      h3 {
        font-size: 1rem;
        margin: 0.5rem;
      }

      h6 {
        font-size: 0.6rem;
        margin: 1rem auto;
      }

      button {
        width: 70%;
        margin: 1.5rem auto;
        font-size: 0.7rem !important;
        padding: 1rem 0.4rem;
      }
    }
  }
}

@media only screen and (min-width: 800px) and (max-width: 999.9px) and (orientation: landscape) {
  .exp001-card {
    width: 70%;
    //background-image: url("https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2F20210108-Capture-Email.gif?alt=media&token=5bfaa7a5-ac35-464a-98c5-1cbcffc56473");
    background-position: center;
    background-size: contain;
    background-color: $black;

    .card-top {
      padding: 0.5rem;

      .close-icon {
        padding: 0.1rem;
        height: 25px;
        width: 25px;

        fa-icon {
          font-size: 1.4rem;
        }
      }
    }

    .card-body {
      grid-template-columns: 45% 55%;

      .image {
        justify-self: center;
        align-self: center;
        width: 80%;
        height: 100%;
        background-image: url("https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2F20210108-Capture-Email-non-filter.gif?alt=media&token=5dea30a3-8af6-4824-8c30-1c08099137de");
        background-position: center;
        background-size: cover;
        background-color: $black;
      }

      .content {
        display: grid;

        h2,
        h6,
        button {
          margin: 1rem auto;
        }

        h2 {
          font-size: 1.5rem;
          width: 90%;
        }

        h6 {
          font-size: 0.7rem;
          width: 70%;
        }

        button {
          padding: 1.2rem 0.8rem;
          width: 80%;
          font-size: 0.8rem;
        }
      }
    }
  }
}
