<section class="modal" id="modal">

    <div class="modal-card">
        <div *ngIf="!discount">
            <fa-icon [icon]="['fas', 'times']" (click)="close()"></fa-icon>
            <img src="https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2FColor.png?alt=media&token=b69f5671-a5c5-4204-9c71-df4fb3e5cb59" alt="NXTDROP Logo">
            <h3>Never miss promotions, good deals and new releases again!</h3>
            <p>Subscribe to our newsletter.</p>
            <input type="text" name="email" id="subscription-email" placeholder="Email Address">

            <button class="btn" *ngIf="!subscribeLoading && !subscribeError && !subscribed" (click)="subscribe()">Subscribe</button>

            <button class="btn" *ngIf="subscribeLoading">Subscribing...</button>

            <button class="btn error" *ngIf="subscribeError">Error</button>

            <button class="btn subscribed" *ngIf="subscribed">Subscribed</button>

            <p>{{ errorMessage }}</p>
        </div>

        <div *ngIf="discount">
            <fa-icon [icon]="['fas', 'times']" (click)="close()"></fa-icon>
            <img src="https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2FColor.png?alt=media&token=b69f5671-a5c5-4204-9c71-df4fb3e5cb59" alt="NXTDROP Logo">
            <h3>🚨 Discounts Available Until July 31st 🚨</h3>
            <p>We’re offering up to 5% OFF on all the products under the “Now Available” heading.</p>

            <button class="btn" (click)="close()">Ok, Cool!</button>
        </div>
    </div>

</section>