@import "../../base_styles/base";

.modal {
  transition: top 1s, height 1s !important;
  -moz-transition: top 1s, height 1s !important;
  -webkit-transition: top 1s, height 1s !important;
  -moz-transition: top 1s, height 1s !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: 10000;
  overflow: hidden;
  background: rgba(56, 54, 55, 0.5);
  display: grid;

  .one-grid {
    grid-template-columns: 1fr !important;
  }

  .dark {
    background: $black !important;
    color: $white !important;

    p,
    h3,
    h2,
    h1 {
      color: $white;
    }
  }

  .disabled {
    background: $lightgrey;
    cursor: not-allowed;

    &:hover {
      background: $lightgrey !important;
    }
  }

  .modal-card {
    display: grid;
    background: $white;
    align-self: center;
    justify-self: center;
    border-radius: $spacing-xsmall;
    color: $matteblack;

    /*img {
      object-fit: cover;
      border-top-left-radius: $spacing-small;
      border-bottom-left-radius: $spacing-small;
    }*/

    div {
      input {
        width: 80%;
        padding: $spacing-small;
        border: 1px solid $lightgrey;
        border-radius: $spacing-xsmall;
        display: block;
        margin: 0 auto;
        font-size: 1;
      }

      #top {
        display: grid;

        fa-icon {
          justify-self: end;
          cursor: pointer;
        }
      }

      h3,
      h6 {
        color: #fff;
        text-align: center;
      }

      .dark-btn {
        background: $white;
        color: $matteblack;

        &:hover {
          background: $lightgrey !important;
        }
      }

      button {
        background: $green;
        border: none;
        text-transform: uppercase;
        display: block;
        border-radius: 2rem;
      }

      .error {
        background: $googleRed;
        cursor: not-allowed;

        &:hover {
          background: $googleRed !important;
        }
      }

      .subscribed {
        background: $green;
        cursor: not-allowed;

        &:hover {
          background: $green !important;
        }
      }
    }
  }

  .discount-background {
    background: rgb(34, 32, 33);
    background: -moz-linear-gradient(
      345deg,
      rgba(34, 32, 33, 1) 0%,
      rgba(6, 169, 77, 1) 87%,
      rgba(204, 255, 0, 1) 100%
    );
    background: -webkit-linear-gradient(
      345deg,
      rgba(34, 32, 33, 1) 0%,
      rgba(6, 169, 77, 1) 87%,
      rgba(204, 255, 0, 1) 100%
    );
    background: linear-gradient(345deg, rgba(34, 32, 33, 1) 0%, rgba(6, 169, 77, 1) 87%, rgba(204, 255, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#222021",endColorstr="#ccff00",GradientType=1);

    fa-icon {
      color: #fff;
    }
  }
}

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 399.9px) {
  .modal-card {
    width: 90%;

    div {
      grid-template-rows: 1fr 1fr 2fr 4fr 2fr;

      #top {
        margin: 0.8rem;
        height: 20px;
        margin-bottom: 25px;
      }

      input {
        font-size: 0.6rem;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 100px;
      }

      h3 {
        font-size: 1rem;
        margin: 0.5rem;
      }

      h6 {
        font-size: 0.6rem;
        margin: 1rem auto;
      }

      button {
        width: 70%;
        margin: 1.5rem auto;
        font-size: 0.7rem !important;
        padding: 1rem 0.4rem;
      }
    }
  }
}

@media only screen and (min-width: 400px) and (max-width: 599.9px) {
  .modal-card {
    width: 70%;

    div {
      grid-template-rows: 1fr 1fr 2fr 4fr 2fr;

      #top {
        margin: 0.8rem;
        height: 20px;
        margin-bottom: 25px;
      }

      input {
        font-size: 0.6rem;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 100px;
      }

      h3 {
        font-size: 1rem;
        margin: 0.5rem;
      }

      h6 {
        font-size: 0.6rem;
        margin: 1rem auto;
      }

      button {
        width: 70%;
        margin: 1.5rem auto;
        font-size: 0.7rem !important;
        padding: 1rem 0.4rem;
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 799.9px) {
  .modal-card {
    width: 50%;

    div {
      grid-template-rows: 1fr 1fr 2fr 4fr 2fr;

      #top {
        margin: 0.8rem;
        height: 20px;
        margin-bottom: 25px;
      }

      input {
        font-size: 0.6rem;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 150px;
      }

      h3 {
        font-size: 1.25rem;
        margin: 0.5rem;
      }

      h6 {
        font-size: 0.8rem;
        margin: 1rem auto;
      }

      button {
        width: 70%;
        margin: 1.5rem auto;
        font-size: 0.7rem !important;
        padding: 1rem 0.4rem;
      }
    }
  }
}

@media only screen and (min-width: 800px) and (max-width: 999.9px) {
  .modal-card {
    width: 45%;

    div {
      grid-template-rows: 1fr 1fr 2fr 4fr 2fr;

      #top {
        margin: 0.8rem;
        height: 20px;
        margin-bottom: 25px;
      }

      input {
        font-size: 0.6rem;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 150px;
      }

      h3 {
        font-size: 1.25rem;
        margin: 0.5rem;
      }

      h6 {
        font-size: 0.8rem;
        margin: 1rem auto;
      }

      button {
        width: 70%;
        margin: 1.5rem auto;
        font-size: 0.7rem !important;
        padding: 1rem 0.4rem;
      }
    }
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1199.9px) {
  .modal-card {
    width: 40%;

    div {
      grid-template-rows: 1fr 1fr 2fr 4fr 2fr;

      #top {
        margin: 0.8rem;
        height: 20px;
        margin-bottom: 25px;
      }

      input {
        font-size: 0.6rem;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 150px;
      }

      h3 {
        font-size: 1.25rem;
        margin: 0.5rem;
      }

      h6 {
        font-size: 0.8rem;
        margin: 1rem auto;
      }

      button {
        width: 70%;
        margin: 1.5rem auto;
        font-size: 0.7rem !important;
        padding: 1rem 0.4rem;

        &:hover {
          background: #a3cc00 !important;
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1799.9px) {
  .modal-card {
    width: 35%;

    div {
      grid-template-rows: 1fr 1fr 2fr 4fr 2fr;

      #top {
        margin: 0.8rem;
        height: 20px;
        margin-bottom: 25px;
      }

      input {
        font-size: 0.6rem;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 200px;
      }

      h3 {
        font-size: 1.5rem;
        margin: 0.5rem;
      }

      h6 {
        font-size: 1rem;
        margin: 1rem auto;
      }

      button {
        width: 60%;
        margin: 1.5rem auto;
        font-size: 0.8rem !important;
        padding: 1.2rem 0.5rem;

        &:hover {
          background: #a3cc00 !important;
        }
      }
    }
  }
}

@media only screen and (min-width: 1800px) and (max-width: 1999.9px) {
  .modal-card {
    width: 25%;

    div {
      grid-template-rows: 1fr 1fr 2fr 4fr 2fr;

      #top {
        margin: 0.8rem;
        height: 20px;
        margin-bottom: 25px;
      }

      input {
        font-size: 0.6rem;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 200px;
      }

      h3 {
        font-size: 1.5rem;
        margin: 0.5rem;
      }

      h6 {
        font-size: 1rem;
        margin: 1rem auto;
      }

      button {
        width: 60%;
        margin: 1.5rem auto;
        font-size: 0.8rem !important;
        padding: 1.2rem 0.6rem;

        &:hover {
          background: #a3cc00 !important;
        }
      }
    }
  }
}

@media only screen and (min-width: 2000px) {
  .modal-card {
    width: 30%;

    div {
      grid-template-rows: 1fr 1fr 2fr 4fr 2fr;

      #top {
        margin: 0.8rem;
        height: 20px;
        margin-bottom: 25px;
      }

      input {
        font-size: 0.6rem;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 300px;
      }

      h3 {
        font-size: 1.8rem;
        margin: 0.8rem;
      }

      h6 {
        font-size: 1.3rem;
        margin: 1.3rem auto;
      }

      button {
        width: 50%;
        margin: 1.8rem auto;
        font-size: 1.1rem !important;
        padding: 1.3rem 0.9rem;

        &:hover {
          background: #a3cc00 !important;
        }
      }
    }
  }
}

// MEDIA QUERIES LANDSCAPE

@media only screen and (min-width: 400px) and (max-width: 599.9px) and (orientation: landscape) {
  .modal-card {
    width: 50%;

    div {
      grid-template-rows: 1fr 1fr 2fr 4fr 2fr;

      #top {
        margin: 0.8rem;
        height: 20px;
        margin-bottom: 25px;
      }

      input {
        font-size: 0.6rem;
      }

      img {
        object-fit: contain;
        width: 100%;
        height: 100px;
      }

      h3 {
        font-size: 1rem;
        margin: 0.5rem;
      }

      h6 {
        font-size: 0.6rem;
        margin: 1rem auto;
      }

      button {
        width: 70%;
        margin: 1.5rem auto;
        font-size: 0.7rem !important;
        padding: 1rem 0.4rem;
      }
    }
  }
}
