@import "../../base_styles/base";

.modal {
  transition: top 1s, height 1s !important;
  -moz-transition: top 1s, height 1s !important;
  -webkit-transition: top 1s, height 1s !important;
  -moz-transition: top 1s, height 1s !important;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  z-index: 10000;
  overflow: hidden;
  background: rgba(56, 54, 55, 0.5);
  display: grid;

  .card-top {
    display: grid;
    padding: 0.5rem;

    .close-icon {
      justify-self: end;
      background: $matteblack;
      display: grid;
      padding: 0.1rem;
      height: 25px;
      width: 25px;

      fa-icon {
        cursor: pointer;
        align-self: center;
        justify-self: center;
        font-size: 1.4rem;
      }
    }
  }

  .exp001-card {
    display: grid;
    align-self: center;
    justify-self: center;
    border-radius: 0.4rem;
    color: $white;
    background-position: center;
    background-size: contain;
    background-color: $black;

    .card-body {
      display: grid;

      .image {
        justify-self: center;
        align-self: center;
        width: 80%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-color: $black;
      }

      .content {
        text-align: center;

        h2,
        h6 {
          color: $white;
          line-height: 1rem;
        }

        input {
          width: 80%;
          padding: 0.8rem;
          border: 1px solid $lightgrey;
          border-radius: 4px;
          display: block;
          margin: 0 auto;
        }

        .error {
          background: $white;
          cursor: not-allowed;
          color: $black;

          &:hover {
            background: $white !important;
          }
        }

        button {
          background: $googleRed;
          color: $white;
          letter-spacing: 1px;
          text-transform: uppercase;
          cursor: pointer;
        }
      }
    }
  }

  .exp002-card {
    display: grid;
    align-self: center;
    justify-self: center;
    border-radius: 0.4rem;
    color: $white;

    background: rgb(34, 32, 33);
    background: -moz-linear-gradient(
      345deg,
      rgba(34, 32, 33, 1) 0%,
      rgba(6, 169, 77, 1) 87%,
      rgba(204, 255, 0, 1) 100%
    );
    background: -webkit-linear-gradient(
      345deg,
      rgba(34, 32, 33, 1) 0%,
      rgba(6, 169, 77, 1) 87%,
      rgba(204, 255, 0, 1) 100%
    );
    background: linear-gradient(345deg, rgba(34, 32, 33, 1) 0%, rgba(6, 169, 77, 1) 87%, rgba(204, 255, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#222021",endColorstr="#ccff00",GradientType=1);

    .card-body {
      display: grid;

      .content {
        text-align: center;

        h2,
        h6,
        p {
          color: $white;
        }

        input {
          width: 80%;
          padding: 0.8rem;
          border: 1px solid $lightgrey;
          border-radius: 4px;
          display: block;
          margin: 0 auto;
        }

        img {
          margin: auto;
          object-fit: contain;
        }

        .error {
          background: $white;
          cursor: not-allowed;
          color: $black;

          &:hover {
            background: $white !important;
          }
        }

        .navigation-btn {
          display: grid;
          grid-template-columns: 1fr 1fr;

          button {
            letter-spacing: 1px;
            text-transform: uppercase;
            cursor: pointer;
          }

          .back-btn {
            grid-column: 1/2;
            background: $prodBtnPrimary2;
            color: $white;
          }

          .next-btn {
            grid-column: 2/3;
            background: $white;
            color: $black;
          }
        }
      }
    }
  }

  .discount-background {
    background: rgb(34, 32, 33);
    background: -moz-linear-gradient(
      345deg,
      rgba(34, 32, 33, 1) 0%,
      rgba(6, 169, 77, 1) 87%,
      rgba(204, 255, 0, 1) 100%
    );
    background: -webkit-linear-gradient(
      345deg,
      rgba(34, 32, 33, 1) 0%,
      rgba(6, 169, 77, 1) 87%,
      rgba(204, 255, 0, 1) 100%
    );
    background: linear-gradient(345deg, rgba(34, 32, 33, 1) 0%, rgba(6, 169, 77, 1) 87%, rgba(204, 255, 0, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#222021",endColorstr="#ccff00",GradientType=1);

    fa-icon {
      color: #fff;
    }
  }
}

//*********************************** MEDIA QUERIES ****************************************************************//

@media only screen and (min-width: 0px) and (max-width: 399.9px) {
  .card-body {
    grid-template-columns: 1fr;

    .content {
      display: grid;

      .headline-text {
        margin: 0 auto;
      }

      p {
        font-size: 0.5rem;
        width: 90%;
        margin: 1rem auto;
      }

      h2,
      h6,
      button {
        margin: 2rem auto;
      }

      h2 {
        font-size: 1.4rem;
        width: 90%;
      }

      h6 {
        font-size: 0.7rem;
        width: 70%;
      }

      input {
        font-size: 0.8rem;
      }

      button {
        padding: 1.2rem 0.8rem;
        width: 80%;
        font-size: 0.8rem;
      }
    }
  }

  .exp001-card {
    width: 90%;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2F20210108-Capture-Email-filter.gif?alt=media&token=a60e59b3-f496-4605-a115-12112d273c8b");

    .card-body {
      .image {
        display: none;
      }
    }
  }

  .exp002-card {
    width: 95%;

    .card-body {
      .content {
        img {
          width: 90%;
          height: 150px;
        }
      }
    }
  }
}

@media only screen and (min-width: 400px) and (max-width: 599.9px) {
  .card-body {
    grid-template-columns: 1fr;

    .content {
      display: grid;

      .headline-text {
        margin: 0 auto;
      }

      p {
        font-size: 0.5rem;
        width: 90%;
        margin: 1rem auto;
      }

      h2,
      h6,
      button {
        margin: 2rem auto;
      }

      h2 {
        font-size: 1.5rem;
        width: 80%;
      }

      h6 {
        font-size: 0.7rem;
        width: 70%;
      }

      input {
        font-size: 0.8rem;
      }

      button {
        padding: 1.2rem 0.8rem;
        width: 80%;
        font-size: 0.8rem;
      }
    }
  }

  .exp001-card {
    width: 80%;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2F20210108-Capture-Email-filter.gif?alt=media&token=a60e59b3-f496-4605-a115-12112d273c8b");

    .card-body {
      .image {
        display: none;
      }
    }
  }

  .exp002-card {
    width: 80%;

    .card-body {
      img {
        width: 300px;
        height: 150px;
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 799.9px) {
  .card-body {
    grid-template-columns: 1fr;

    .content {
      display: grid;

      .headline-text {
        margin: 0 auto;
      }

      p {
        font-size: 0.6rem;
        width: 90%;
        margin: 1rem auto;
      }

      h2,
      h6,
      button {
        margin: 2rem auto;
      }

      h2 {
        font-size: 1.6rem;
        width: 85%;
      }

      h6 {
        font-size: 0.7rem;
      }

      input {
        font-size: 0.8rem;
      }

      button {
        padding: 1.2rem 0.8rem;
        width: 80%;
        font-size: 0.85rem;
      }
    }
  }

  .exp001-card {
    width: 65%;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2F20210108-Capture-Email-filter.gif?alt=media&token=a60e59b3-f496-4605-a115-12112d273c8b");

    .card-body {
      .image {
        display: none;
      }
    }
  }

  .exp002-card {
    width: 60%;

    .card-body {
      img {
        width: 90%;
        height: 200px;
      }
    }
  }
}

@media only screen and (min-width: 800px) and (max-width: 999.9px) {
  .card-body .content {
    display: grid;

    .headline-text {
      margin: 0 auto;
    }

    p {
      font-size: 0.6rem;
      width: 80%;
      margin: 1rem auto;
    }

    h2,
    h6,
    button {
      margin: 2rem auto;
    }

    h2 {
      font-size: 1.7rem;
      width: 90%;
    }

    h6 {
      font-size: 0.7rem;
      width: 80%;
    }

    input {
      font-size: 0.8rem;
    }

    button {
      padding: 1.2rem 0.8rem;
      width: 80%;
      font-size: 0.85rem;
    }
  }

  .exp001-card {
    width: 70%;

    .card-body {
      grid-template-columns: 45% 55%;

      .image {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2F20210108-Capture-Email-non-filter.gif?alt=media&token=5dea30a3-8af6-4824-8c30-1c08099137de");
      }
    }
  }

  .exp002-card {
    width: 50%;

    .card-body {
      grid-template-columns: 1fr;

      img {
        width: 90%;
        height: 250px;
      }
    }
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1199.9px) {
  .card-body .content {
    display: grid;

    .headline-text {
      margin: 0 auto;
    }

    p {
      font-size: 0.6rem;
      width: 80%;
      margin: 1rem auto;
    }

    h2,
    h6,
    button {
      margin: 2rem auto;
    }

    h2 {
      font-size: 1.7rem;
      width: 90%;
    }

    h6 {
      font-size: 0.7rem;
      width: 80%;
    }

    input {
      font-size: 0.8rem;
    }

    button {
      padding: 1.2rem 0.8rem;
      width: 80%;
      font-size: 0.8rem;
    }
  }

  .exp001-card {
    width: 55%;

    .card-body {
      grid-template-columns: 45% 55%;

      .image {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2F20210108-Capture-Email-non-filter.gif?alt=media&token=5dea30a3-8af6-4824-8c30-1c08099137de");
      }
    }
  }

  .exp002-card {
    width: 45%;

    .card-body {
      grid-template-columns: 1fr;

      img {
        width: 80%;
        height: 250px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1799.9px) {
  .card-body .content {
    display: grid;

    .headline-text {
      margin: 0 auto;
    }

    p {
      font-size: 0.65rem;
      width: 75%;
      margin: 1rem auto;
    }

    h2,
    h6,
    button {
      margin: 2rem auto;
    }

    h2 {
      font-size: 1.7rem;
      width: 90%;
    }

    h6 {
      font-size: 0.7rem;
      width: 80%;
    }

    input {
      font-size: 0.8rem;
    }

    button {
      padding: 1.2rem 0.8rem;
      width: 80%;
      font-size: 0.8rem;
    }
  }

  .exp001-card {
    width: 50%;

    .card-body {
      grid-template-columns: 45% 55%;

      .image {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2F20210108-Capture-Email-non-filter.gif?alt=media&token=5dea30a3-8af6-4824-8c30-1c08099137de");
      }

      .content button:hover {
        background-color: $white !important;
        color: $black !important;
      }
    }
  }

  .exp002-card {
    width: 35%;

    .card-body {
      grid-template-columns: 1fr;

      img {
        width: 80%;
        height: 275px;
      }
    }
  }
}

@media only screen and (min-width: 1800px) and (max-width: 1999.9px) {
  .card-body .content {
    display: grid;

    img {
      width: 80%;
      height: 300px;
    }

    h2,
    h6,
    button {
      margin: 2rem auto;
    }

    h2 {
      font-size: 1.8rem;
      width: 90%;
    }

    h6 {
      font-size: 0.9rem;
      width: 70%;
    }

    input {
      font-size: 0.8rem;
    }

    button {
      padding: 1.2rem 0.8rem;
      width: 80%;
      font-size: 0.8rem;
    }
  }

  .exp001-card {
    width: 50%;

    .card-body {
      grid-template-columns: 45% 55%;

      .image {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2F20210108-Capture-Email-non-filter.gif?alt=media&token=5dea30a3-8af6-4824-8c30-1c08099137de");
      }

      .content button:hover {
        background-color: $white !important;
        color: $black !important;
      }
    }
  }

  .exp002-card {
    width: 30%;

    .card-body {
      grid-template-columns: 1fr;

      .image {
        display: none;
      }

      .content {
        .headline-text {
          margin: 0 auto;
        }

        p {
          font-size: 0.7rem;
          width: 70%;
          margin: 1rem auto;
        }
      }
    }
  }
}

@media only screen and (min-width: 2000px) {
  .card-body .content {
    display: grid;

    .headline-text {
      margin: 0 auto;
    }

    p {
      font-size: 0.7rem;
      width: 70%;
      margin: 1rem auto;
    }

    h2,
    h6,
    button {
      margin: 3rem auto;
    }

    h2 {
      font-size: 1.9rem;
      width: 90%;
    }

    h6 {
      font-size: 0.8rem;
      width: 80%;
    }

    input {
      font-size: 0.8rem;
    }

    button {
      padding: 1.2rem 0.8rem;
      width: 80%;
      font-size: 1rem;
    }
  }

  .exp001-card {
    width: 35%;

    .card-body {
      grid-template-columns: 45% 55%;

      .image {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2F20210108-Capture-Email-non-filter.gif?alt=media&token=5dea30a3-8af6-4824-8c30-1c08099137de");
      }

      .content button:hover {
        background-color: $white !important;
        color: $black !important;
      }
    }
  }

  .exp002-card {
    width: 20%;

    .card-body {
      grid-template-columns: 1fr;

      .image {
        display: none;
      }
    }
  }
}

// MEDIA QUERIES LANDSCAPE
@media only screen and (min-width: 400px) and (max-width: 599.9px) and (orientation: landscape) {
  .card-body {
    grid-template-columns: 1fr;

    .image {
      display: none;
    }

    .content {
      display: grid;

      h2,
      h6,
      button {
        margin: 1rem auto;
      }

      h2 {
        font-size: 1.4rem;
        width: 90%;
      }

      h6 {
        font-size: 0.7rem;
        width: 80%;
      }

      .headline-text {
        margin: 0 auto;
      }

      p {
        font-size: 0.5rem;
        width: 80%;
        margin: 0.5rem auto;
      }

      input {
        font-size: 0.8rem;
      }

      button {
        padding: 0.8rem 0.6rem;
        width: 80%;
        font-size: 0.8rem;
      }
    }
  }

  .exp001-card {
    width: 80%;
    background-image: url("https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2F20210108-Capture-Email-filter.gif?alt=media&token=a60e59b3-f496-4605-a115-12112d273c8b");
  }

  .exp002-card {
    width: 60%;

    .card-body {
      .content-img {
        h2,
        h6,
        button {
          margin: 0.8rem auto;
        }

        img {
          width: 80%;
          height: 150px;
        }

        h2 {
          font-size: 1.2rem;
          width: 90%;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) and (max-width: 799.9px) and (orientation: landscape) {
  .exp002-card {
    width: 60%;

    .card-body {
      grid-template-columns: 1fr;

      .image {
        display: none;
      }

      .content {
        display: grid;

        h2,
        h6,
        button {
          margin: 1rem auto;
        }

        h2 {
          font-size: 1.4rem;
          width: 90%;
        }

        h6 {
          font-size: 0.7rem;
          width: 70%;
        }

        .headline-text {
          margin: 0 auto;
        }

        p {
          font-size: 0.5rem;
          width: 80%;
          margin: 0.5rem auto;
        }

        input {
          font-size: 0.8rem;
        }

        button {
          padding: 1.2rem 0.8rem;
          width: 80%;
          font-size: 0.8rem;
        }
      }

      .content-img {
        h2,
        h6,
        button {
          margin: 1rem auto;
        }

        img {
          width: 80%;
          height: 175px;
        }

        h2 {
          font-size: 1.4rem;
          width: 90%;
        }
      }
    }
  }
}

@media only screen and (min-width: 800px) and (max-width: 999.9px) and (orientation: landscape) {
  .exp001-card {
    width: 70%;

    .card-body {
      grid-template-columns: 45% 55%;

      .image {
        background-image: url("https://firebasestorage.googleapis.com/v0/b/nxtdrop.appspot.com/o/web_assets%2F20210108-Capture-Email-non-filter.gif?alt=media&token=5dea30a3-8af6-4824-8c30-1c08099137de");
      }

      .content {
        display: grid;

        h2,
        h6,
        button {
          margin: 1rem auto;
        }

        h2 {
          font-size: 1.5rem;
          width: 90%;
        }

        h6 {
          font-size: 0.7rem;
          width: 70%;
        }

        button {
          padding: 1.2rem 0.8rem;
          width: 80%;
          font-size: 0.8rem;
        }
      }
    }
  }
}
