<app-navbar></app-navbar>

<div class="main-container" id="main-container">
    <app-carousel></app-carousel>

    <section routerLink="product/{{ lastSale.item.product_id }}" class="last-sale-banner" *ngIf="lastSale">
        <h1>Last Sale</h1>

        <div class="prod-description">
            <img src="{{ lastSale.item.asset_url }}" alt="{{ lastSale.item.model }}">
            <p>{{ lastSale.item.model }}</p>
        </div>

        <div class="prod-specs">
            <h3>{{ lastSale.item.price | currency:'CAD':'symbol':'3.0-0' }}</h3>
            <p>{{ lastSale.item.size }}</p>
        </div>
    </section>

    <app-trending></app-trending>

    <app-listings></app-listings>

    <app-new-releases></app-new-releases>

    <app-discovery></app-discovery>
</div>

<app-newsletter></app-newsletter>

<app-footer></app-footer>