<app-navbar></app-navbar>

<div class="main-container" id="main-container">
    <app-carousel></app-carousel>

    <section routerLink="product/{{ lastSale.item.product_id }}" class="last-sale-banner" *ngIf="lastSale">
        <h1>Last Sale</h1>

        <div class="prod-description">
            <img src="{{ lastSale.item.asset_url }}" alt="{{ lastSale.item.model }}">
            <p>{{ lastSale.item.model }}</p>
        </div>

        <div class="prod-specs">
            <h3>{{ lastSale.item.price | currency:'CAD':'symbol':'3.0-0' }}</h3>
            <p>{{ lastSale.item.size }}</p>
        </div>
    </section>

    <!-- EXP 003 START -->
    <div *ngIf="globals.exp003_version == 'config1'">
        <app-listings></app-listings>

        <app-new-releases></app-new-releases>

        <app-trending></app-trending>
    </div>

    <div *ngIf="globals.exp003_version == 'config2'">
        <app-trending></app-trending>

        <app-listings></app-listings>

        <app-new-releases></app-new-releases>
    </div>

    <div *ngIf="globals.exp003_version == 'config3'">
        <app-new-releases></app-new-releases>

        <app-trending></app-trending>

        <app-listings></app-listings>
    </div>

    <div *ngIf="globals.exp003_version == 'config4'">
        <app-new-releases></app-new-releases>

        <app-listings></app-listings>

        <app-trending></app-trending>
    </div>
    <!-- EXP 003 END-->

    <app-sneak-peek></app-sneak-peek>

    <app-recently-viewed></app-recently-viewed>
    
    <app-upcoming-releases></app-upcoming-releases>
</div>

<app-newsletter></app-newsletter>

<app-footer></app-footer>