<app-navbar></app-navbar>

<section class="main-container">
    <section class="faq-home">
        <h1>Frequently Asked Questions</h1>

        <div class="categories">
            <a routerLink="buying" class="btn"><fa-icon [icon]="faHandHoldingUsd"></fa-icon> &nbsp; Buying</a>
            <a routerLink="selling" class="btn"><fa-icon [icon]="faTag"></fa-icon> &nbsp; Selling</a>
            <a routerLink="shipping" class="btn"><fa-icon [icon]="faShippingFast"></fa-icon> &nbsp; Shipping</a>
            <a routerLink="account" class="btn"><fa-icon [icon]="faUserCircle"></fa-icon> &nbsp; Account</a>
        </div>
    </section>
</section>

<app-footer></app-footer>