<app-navbar></app-navbar>

<div class="main-container">

  <section class="offer-container" id="offer-page-1" *ngIf="showHowItWorks">
    <h3>How It Works</h3>

    <div id="how-it-works-content">
      <div>
        <fa-icon [icon]="faHandHoldingUsd"></fa-icon>
        <h6>Place a Bid</h6>
      </div>

      <div>
        <fa-icon [icon]="faBox"></fa-icon>
        <h6>When a seller accepts your offer, checkout the item. The seller will ship the item within 2 business days
          and we'll authenticate it.</h6>
      </div>

      <div>
        <fa-icon [icon]="faShippingFast"></fa-icon>
        <h6>Sit tight while we ship the verified authetic item to you</h6>
      </div>
    </div>

    <div class="offer-btns">
      <button class="btn" *ngIf="selectedPair" routerLink="/product/{{ selectedPair.productID }}">Back</button>
      <button class="btn" *ngIf="!selectedPair" routerLink="..">Back</button>
      <button class="btn" (click)="nextPage()">Next</button>
    </div>
  </section>

  <section class="offer-container" id="offer-page-2" *ngIf="showSearch">
    <h3>Select a product</h3>
    <input autofocus type="text" (keyup)="searchChanged($event)" placeholder="Search for product" class="prod-search">

    <div *ngIf="showResults">
      <div class="search-results">
        <div *ngFor="let hit of results">

          <div class="hit" (click)="selectPair(hit, true)">
            <img src="{{ hit.assetURL }}">

            <div class="hit-info">
              <h3>{{ hit.model }}</h3>
              <h6>{{ hit.colorway }}</h6>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section id="offer-page-3" *ngIf="showItem">
    <div class="product-info">
      <h1>{{ selectedPair.model }}</h1>

      <div class="product-stats">
        <h4 *ngIf="currentAsk">Lowest Ask: {{ currentAsk.price | currency: 'CAD' : 'symbol' : '1.0-0' }}</h4>
        <h4 *ngIf="!currentAsk">Lowest Ask: --</h4>
        <h4 *ngIf="currentBid">Highest Bid: {{ currentBid.price | currency: 'CAD' : 'symbol' : '1.0-0' }}</h4>
        <h4 *ngIf="!currentBid">Highest Bid: --</h4>
      </div>

      <img src="{{ selectedPair.assetURL }}" alt="{{ selectedPair.model }}">
    </div>

    <div class="sizes" *ngIf="!selectedSize">
      <div class="accessibility">
        <h2>Select Size</h2>
        <h3>U.S. Men Size | Lowest Ask</h3>
      </div>

      <div class="size" id="{{ offer.size }}" *ngFor="let offer of offers" (click)="selectSize(offer.size)">
        <button id="size">{{ offer.size }}</button>
        <button id="lowestAsk"
          *ngIf="offer.LowestAsk">{{ offer.LowestAsk.price | currency: 'CAD' : 'symbol' : '1.0-0' }}</button>
        <button id="lowestAsk" *ngIf="!offer.LowestAsk">--</button>
      </div>
    </div>

    <div class="bid-form" *ngIf="selectedSize && !listed">
      <div class="offer-display">
        <div class="buy-now-container">
          <div>
            <h4>Lowest Ask</h4>
            <p *ngIf="currentAsk">{{ currentAsk.price | currency: 'CAD' : 'symbol' : '1.0-0' }}</p>
            <p *ngIf="!currentAsk">--</p>
          </div>

          <button class="btn" *ngIf="currentAsk" (click)="sellNow()">Buy Now</button>
          <button class="btn disabled" *ngIf="!currentAsk">Buy Now</button>
        </div>

        <div class="place-bid-container">
          <div class="buyer-input">
            <button>CA$</button>
            <input type="text" name="input" id="input" placeholder="Enter Price" mask="0000000000"
              (keyup)="priceChanges($event)">
          </div>

          <div class="fee-calculator">
            <div class="shipping">
              <p>Expiration Date</p>
              <p>{{ expiration_date | date }}</p>
            </div>

            <div class="shipping">
              <p>Estimated Shipping</p>
              <p *ngIf="total > 0">{{ shippingCost | currency: 'CAD' : 'symbol' : '1.2-2' }}</p>
              <p *ngIf="total === 0">--</p>
            </div>

            <div class="total">
              <p>Total</p>
              <p *ngIf="total > 0">{{ total | currency: 'CAD' : 'symbol' : '1.2-2' }}</p>
              <p *ngIf="total === 0">--</p>
            </div>
          </div>

          <div class="checkboxes">
            <div>
              <input type="checkbox" name="checkout" id="checkout" (click)="agreementsCheckbox('checkout')">
              <p>I will checkout within 24hours when a seller accepts my bid</p>
            </div>
          </div>

          <button class="btn ripple place-bid-btn"
            *ngIf="priceAdded && (pairPrice < currentAsk.price || !currentAsk) && !loading && !listed && willCheckout"
            (click)="submitOffer()">Place Bid</button>

          <button class="btn place-bid-btn disabled" *ngIf="!priceAdded || !willCheckout">Place Bid</button>

          <button class="btn ripple place-bid-btn" *ngIf="loading">
            <fa-icon [icon]="faCircleNotch" [spin]="true"></fa-icon>
          </button>

          <button class="btn ripple buy-now-btn"
            *ngIf="priceAdded && currentAsk && pairPrice >= currentAsk.price && willCheckout" (click)="buyNow()">Buy
            Now</button>
        </div>
      </div>

      <div class="size-display">
        <h4>{{ selectedSize }}</h4>
        <button class="btn ripple" (click)="changeSize()">Change Size</button>
      </div>
    </div>

    <div class="review" *ngIf="listed">
      <div class="review-container">
        <h2>Your Bid is now live!</h2>

        <h3>Want to get your bid accepted faster? Share your Bid.</h3>

        <div class="share-btns">
          <a href="https://www.facebook.com/sharer/sharer.php?app_id=316718239101883&u=https://nxtdrop.com/product/${this.selectedPair.productID}?utm_source=share-facebook&display=popup&ref=plugin" class="fb-share-btn" (click)="share('fb')">
            <fa-icon [icon]="faFacebookF"></fa-icon>
          </a>
          <a href="https://twitter.com/intent/tweet?text=I just placed a bid on the ${this.selectedPair.model} on @nxtdrop https://nxtdrop.com/product/${this.selectedPair.productID}?utm_source=share-twitter"
            class="twitter-share-btn" (click)="share('twitter')">
            <fa-icon [icon]="faTwitter"></fa-icon>
          </a>
          <a href="mailto:?subject=Check out the ${this.selectedPair.model} available on NXTDROP&body=Hey, I just came across the ${this.selectedPair.model} and thought you'd be interested. Check it out here https://nxtdrop.com/product/${this.selectedPair.productID}?utm_source=share-mail"
            class="mail-share-btn" (click)="share('mail')">
            <fa-icon [icon]="faEnvelope"></fa-icon>
          </a>
          <a class="link-share-btn" (click)="share('copy_link')">
            <fa-icon [icon]="faLink"></fa-icon>
            <span class="tooltiptext" id="tooltiptext">Copied!</span>
          </a>
        </div>

        <div class="details">
          <div class="size">
            <p>Size</p>
            <p>{{ pairSize }}</p>
          </div>

          <div class="condition">
            <p>Condition</p>
            <p>Deadstock; 100% Authentic</p>
          </div>

          <div class="ask">
            <p>Your Bidding Price</p>
            <p>{{ pairPrice | currency: 'CAD' : 'symbol' : '1.2-2' }}</p>
          </div>

          <div class="shipping">
            <p>Shipping</p>
            <p>{{ shippingCost | currency: 'CAD' : 'symbol' : '1.2-2' }}</p>
          </div>

          <div class="payout">
            <p>Total</p>
            <p>{{  total | currency: 'CAD' : 'symbol' : '1.2-2' }}</p>
          </div>

          <div class="payout">
            <p>Expiration Date</p>
            <p>{{  expiration_date | date }}</p>
          </div>
        </div>

        <div>
          <h5>Reminder</h5>

          <ul>
            <li>When a seller accepts your Bid, you will have 24 hours to checkout</li>
            <li>You can edit your Bid at any time before it is accepted by a seller</li>
            <li>All sneakers are guaranteed 100% authentic or your money back</li>
          </ul>
        </div>

        <button class="btn ripple finish-btn" (click)="finish()">Finish</button>
      </div>
    </div>
  </section>

</div>

<app-footer></app-footer>