<div class="main-container">
  <app-navbar></app-navbar>

  <div class="profile-header">
    <div class="profile-stats">
      <button class="stats-btn">
        <p>{{ dashInfo.sold }}</p>Sold
      </button>
      <button class="stats-btn">
        <p>{{ dashInfo.ordered }}</p>Ordered
      </button>
    </div>

    <div class="profile-info">
      <div class="profile-name">
        <h4>{{ dashInfo.firstName }} {{ dashInfo.lastName }}</h4>
        <h6>{{ dashInfo.username }}</h6>
      </div>

      <div class="profile-btns">
        <a class="btn" routerLink="/settings">Settings</a>
        <a class="btn" routerLink="/dashboard">Dashboard</a>
      </div>
    </div>

    <div class="profile-item-listed">
      <button class="stats-btn">
        <p>{{ dashInfo.listed }}</p>Listed
      </button>
    </div>

    <div class="profile-divider"></div>
  </div>

  <div class="profile-navigation">
    <button class="btn" id="listingsBtn" (click)="showListings()">Selling</button>
    <button class="btn" id="offersBtn" (click)="showOffers()">Buying</button>
  </div>

  <div *ngIf="listingNav else showOffer" class="container">
    <h2>Your Items For Sale</h2>
    <div class="profile-items">
      <a class="profile-item" *ngFor="let listing of listings">
        <section class="item-specs">
          <h6>{{ listing.size }}</h6>
          <h5>{{ listing.price | currency: 'CAD' }}</h5>
        </section>
        <img src="{{ listing.assetURL }}" alt="{{ listing.productID }}">
        <h5 id="model">{{ listing.model }}</h5>

        <div class="action-btns">
          <a [routerLink]="['/edit-listing', listing.listingID]" [queryParams]="{ source: 'profile'}" class="btn" *ngIf="current_date < listing.expiration_date">Edit</a>
          <a (click)="extendAsk(listing)" class="btn" id="extend-ask-{{listing.listingID}}" *ngIf="current_date >= listing.expiration_date">Extend</a>

          <button id="remove-ask-{{listing.listingID}}" class="btn">Remove</button>
        </div>

        <h5 *ngIf="current_date >= listing.expiration_date">Ask Expired</h5>
        <h5 *ngIf="current_date < listing.expiration_date">Expires in {{ (listing.expiration_date - current_date) / 86400000 | number:'1.0-0' }} days</h5>
      </a>
    </div>
  </div>

  <ng-template #showOffer class="container">
    <h2>Your Bids</h2>
    <div class="profile-items">
      <div class="profile-item" *ngFor="let offer of offers">
        <section class="item-specs">
          <h6>{{ offer.size }}</h6>
          <h5>{{ offer.price | currency: 'CAD' }}</h5>
        </section>
        <img src="{{ offer.assetURL }}" alt="{{ offer.productID }}">
        <h5 id="model">{{ offer.model }}</h5>

        <div class="action-btns">
          <a [routerLink]="['/edit-offer', offer.offerID]" [queryParams]="{ source: 'profile'}" class="btn" *ngIf="current_date < offer.expiration_date">Edit</a>
          <a (click)="extendBid(offer)" class="btn" id="extend-bid-{{offer.offerID}}" *ngIf="current_date > offer.expiration_date">Extend</a>

          <button class="btn" id="remove-bid-{{offer.offerID}}" (click)="removeBid(offer)">Remove</button>
        </div>

        <h5 *ngIf="current_date >= offer.expiration_date">Bid Expired</h5>
        <h5 *ngIf="current_date < offer.expiration_date">Expires in {{ (offer.expiration_date - current_date) / 86400000 | number:'1.0-0' }} days</h5>
      </div>
    </div>
  </ng-template>

  <button *ngIf="dashInfo.listed > listings.length && !loading" class="btn show-more-btn"
    (click)="moreListings()">More</button>
  <button *ngIf="loading" class="btn show-more-btn">
    <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
  </button>
</div>

<app-footer></app-footer>