<div class="main-container">
  <app-navbar></app-navbar>

  <div class="profile-header">
    <div class="profile-stats">
      <button class="stats-btn">
        <p>{{ dashInfo.sold }}</p>Sold
      </button>
      <button class="stats-btn">
        <p>{{ dashInfo.ordered }}</p>Ordered
      </button>
    </div>

    <div class="profile-info">
      <div class="profile-name">
        <h4>{{ dashInfo.firstName }} {{ dashInfo.lastName }}</h4>
        <h6>{{ dashInfo.username }}</h6>
      </div>

      <div class="profile-btns">
        <a class="btn" routerLink="/settings">Settings</a>
        <a class="btn" routerLink="/dashboard">Dashboard</a>
      </div>
    </div>

    <div class="profile-item-listed">
      <button class="stats-btn">
        <p>{{ dashInfo.listed }}</p>Listed
      </button>
    </div>

    <div class="profile-divider"></div>
  </div>

  <div class="profile-navigation">
    <button class="btn" id="listingsBtn" (click)="showListings()">Selling</button>
    <button class="btn" id="offersBtn" (click)="showOffers()">Buying</button>
  </div>

  <div *ngIf="listingNav else showOffer" class="container">
    <h2>Your Items For Sale</h2>

    <div class="dropdown-btn">
      
      <button>
        <div class="text">Ask Display</div>
        <div class="mode">{{ ask_filter }}</div>
        <div class="icon"><fa-icon [icon]="['fas', 'chevron-down']"></fa-icon></div>
      </button>


      <ul class="dropdown-selection">
        <li (click)="changeFilter('All', true)">
          <p>All</p>
        </li>

        <li (click)="changeFilter('Active', true)">
          <p>Active</p>
        </li>

        <li (click)="changeFilter('Expired', true)">
          <p>Expired</p>
        </li>

        <li (click)="changeFilter('Oldest', true)">
          <p>Oldest</p>
        </li>

        <li (click)="changeFilter('Recent', true)">
          <p>Recent</p>
        </li>
      </ul>


    </div>

    <div class="profile-items" *ngIf="listings.length > 0">
      <a class="profile-item" *ngFor="let listing of listings">
        <section class="item-specs">
          <h6>{{ listing.size }}</h6>
          <h5>{{ listing.price | currency: 'CAD' }}</h5>
        </section>
        <img src="{{ listing.assetURL }}" alt="{{ listing.productID }}">
        <h5 id="model">{{ listing.model }}</h5>

        <div class="action-btns">
          <a [routerLink]="['/edit-listing', listing.listingID]" [queryParams]="{ source: 'profile'}" class="btn" *ngIf="current_date < listing.expiration_date">Edit</a>
          <a (click)="extendAsk(listing)" class="btn" id="extend-ask-{{listing.listingID}}" *ngIf="current_date >= listing.expiration_date">Extend</a>

          <button id="remove-ask-{{listing.listingID}}" class="btn" (click)="removeAsk(listing)">Remove</button>
        </div>

        <h5 *ngIf="current_date >= listing.expiration_date">Ask Expired</h5>
        <h5 *ngIf="current_date < listing.expiration_date">Expires in {{ (listing.expiration_date - current_date) / 86400000 | number:'1.0-0' }} days</h5>
      </a>
    </div>

    <!--<div class="profile-items" *ngIf="listings.length < 1">
      <p style="font-size: 1.5rem; justify-self: center; align-self: center; text-align: center; grid-column: 1/5;">You have no items for sale</p>
    </div>-->

    <button *ngIf="dashInfo.listed > listings.length && !loading && listings.length > 0" class="btn show-more-btn"
      (click)="moreListings()">More</button>
    <button *ngIf="loading" class="btn show-more-btn">
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </button>
  </div>

  <ng-template #showOffer class="container">
    <h2>Your Bids</h2>

    <div class="dropdown-btn">
      
      <button>
        <div class="text">Bid Display</div>
        <div class="mode">{{ bid_filter }}</div>
        <div class="icon"><fa-icon [icon]="['fas', 'chevron-down']"></fa-icon></div>
      </button>


      <ul class="dropdown-selection">
        <li>
          <p>All</p>
        </li>

        <li>
          <p>Active</p>
        </li>

        <li>
          <p>Expired</p>
        </li>

        <li>
          <p>Oldest</p>
        </li>

        <li>
          <p>Recent</p>
        </li>
      </ul>


    </div>

    <div class="profile-items" *ngIf="offers">
      <div class="profile-item" *ngFor="let offer of offers">
        <section class="item-specs">
          <h6>{{ offer.size }}</h6>
          <h5>{{ offer.price | currency: 'CAD' }}</h5>
        </section>
        <img src="{{ offer.assetURL }}" alt="{{ offer.productID }}">
        <h5 id="model">{{ offer.model }}</h5>

        <div class="action-btns">
          <a [routerLink]="['/edit-offer', offer.offerID]" [queryParams]="{ source: 'profile'}" class="btn" *ngIf="current_date < offer.expiration_date">Edit</a>
          <a (click)="extendBid(offer)" class="btn" id="extend-bid-{{offer.offerID}}" *ngIf="current_date > offer.expiration_date">Extend</a>

          <button class="btn" id="remove-bid-{{offer.offerID}}" (click)="removeBid(offer)">Remove</button>
        </div>

        <h5 *ngIf="current_date >= offer.expiration_date">Bid Expired</h5>
        <h5 *ngIf="current_date < offer.expiration_date">Expires in {{ (offer.expiration_date - current_date) / 86400000 | number:'1.0-0' }} days</h5>
      </div>
    </div>

    <button *ngIf="dashInfo.offers > offers.length && !loading && offers.length > 0" class="btn show-more-btn"
      (click)="moreOffers()">More</button>
    <button *ngIf="loading" class="btn show-more-btn">
      <fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>
    </button>
  </ng-template>
</div>

<app-footer></app-footer>