@import "../../base_styles/base";

.showcase-discovery {
    min-height: 250px;
    width: 100vw;
    max-width: 100%;
    display: grid;
    justify-items: center;

    & .discovery-card:nth-child(even) {
        margin-top: $spacing-large;
    }

    .discovery-card {
        text-align: center;
        border: 1px solid $lightgrey;
        border-radius: $spacing-xsmall;
        padding: $spacing-xsmall;
        margin: $spacing-xsmall;
        cursor: pointer;
        display: grid;
        align-content: center;
        grid-auto-rows: 1fr 7fr 2fr;

        &:hover {
            border-color: $matteblue;
            h6,
            h3 {
                color: $matteblue;
            }
        }

        img {
            height: 100px;
            width: 100px;
            object-fit: contain;
            margin-bottom: $spacing-xlarge;
            justify-self: center;
            align-self: center;
        }

        div {
            display: grid;
            align-items: center;
            grid-template-columns: 1fr 3fr;

            h6:last-child {
                justify-self: end;
            }
        }

        h6 {
            text-align: left;
            margin-bottom: $spacing-large;
        }

        h3 {
            font-weight: $weight-bold;
        }
    }
}

.discovery-btn {
    padding: $spacing-small;
    margin: $spacing-small auto;
    display: block;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: $weight-black;
    background: $black;

    &:hover {
        background: $matteblack;
    }
}

// MEDIA QUERIES

@media only screen and (min-width: 0px) and (max-width: 399.9px) {
    .showcase-discovery {
        grid-template-columns: 1fr 1fr;

        .discovery-card {
            width: 80%;
            height: 200px;

            img {
                width: 90%;
                height: 75px;
            }

            h3,
            h6 {
                font-size: 0.6rem;
            }

            div > h6:last-child {
                font-size: 0.4rem;
            }
        }
    }

    .discovery-btn {
        width: 50%;
    }
}

@media only screen and (min-width: 400px) and (max-width: 799.9px) {
    .showcase-discovery {
        grid-template-columns: 1fr 1fr;

        .discovery-card {
            width: 75%;
            height: 300px;

            img {
                width: 90%;
                height: 100px;
            }

            h3,
            h6 {
                font-size: 0.7rem;
            }

            div > h6:last-child {
                font-size: 0.5rem;
            }
        }
    }

    .discovery-btn {
        width: 50%;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1200px) {
    .showcase-discovery {
        grid-template-columns: 1fr 1fr 1fr;

        .discovery-card {
            width: 75%;
            height: 300px;

            img {
                width: 90%;
                height: 100px;
            }

            h3,
            h6 {
                font-size: 0.8rem;
            }

            div > h6:last-child {
                font-size: 0.6rem;
            }
        }
    }

    .discovery-btn {
        width: 40%;
    }
}

@media only screen and (min-width: 1200px) and (max-width: 1800px) {
    .showcase-discovery {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .discovery-card {
            width: 75%;
            height: 350px;

            img {
                width: 80%;
                height: 150px;
            }

            h3,
            h6 {
                font-size: 0.9rem;
            }

            div > h6:last-child {
                font-size: 0.7rem;
            }
        }
    }

    .discovery-btn {
        width: 30%;
    }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
    .showcase-discovery {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .discovery-card {
            width: 75%;
            height: 400px;

            img {
                width: 70%;
                height: 175px;
            }

            h3,
            h6 {
                font-size: 1rem;
            }

            div > h6:last-child {
                font-size: 0.8rem;
            }
        }
    }

    .discovery-btn {
        width: 30%;
    }
}

@media only screen and (min-width: 2000px) {
    .showcase-discovery {
        grid-template-columns: 1fr 1fr 1fr 1fr;

        .discovery-card {
            width: 75%;
            height: 400px;

            img {
                width: 70%;
                height: 175px;
            }

            h3,
            h6 {
                font-size: 1.1rem;
            }

            div > h6:last-child {
                font-size: 9rem;
            }
        }
    }

    .discovery-btn {
        width: 20%;
    }
}
