<app-navbar></app-navbar>

<div class="main-container">
  <div class="search-bar-container">
    <button routerLink=".."><fa-icon [icon]="['fas', 'times']"></fa-icon></button>
    <input type="text" id="search-input" placeholder="Search" autofocus (keyup)="search()">
  </div>

  <div class="search-items">
    <a class="search-item" *ngFor="let result of results" routerLink="/product/{{ result.productID }}">
      <section class="item-specs">
        <h5 *ngIf="result.lowestPrice" style="color: #3c91e6;">{{ result.lowestPrice | currency: 'CAD' }}</h5>
        <h5 *ngIf="!result.lowestPrice" style="color: #8D8B8C;">SOLD OUT</h5>
      </section>
      <img src="{{ result.assetURL }}" alt="{{ result.model }}">
      <h5>{{ result.model }}</h5>
    </a>
  </div>

  <button class="btn" (click)="moreProducts()" *ngIf="!searchLimit">More</button>
</div>

<app-footer></app-footer>